name: CI Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Configurar .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restaurar dependências
      working-directory: ./src/Um   # <-- coloque a pasta onde está seu .csproj
      run: dotnet restore

    - name: Build
      working-directory: ./src/Um   # <-- mesmo caminho
      run: dotnet build --configuration Release
