name: CI Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Configurar .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0.x'

    - name: Mostrar estrutura de pastas
      run: ls -R .

    - name: Restaurar dependências
      working-directory: ./WorkflowUm/src/Um
      run: dotnet restore

    - name: Build
      working-directory: ./WorkflowUm/src/Um
      run: dotnet build --configuration Release
